
.main-bg {
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    min-width: 360px;
}

.box {
    margin: 20px;
    padding: 5px;
}
input
{
    border: 1px solid black;
}
button
{
    border: 
}

.btn-bg {
    background-color: #e9ecef;
    color: #dc3545;
    border: 1px solid #ced4da;
    font-size: 20px;
    font-weight: 900;
}
.btn-bg:hover {
    background-color: #dc3545;
    color: #e9ecef;
    border: 1px solid #ced4da;
    text-decoration: none;
}

.btn-add {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    
}

.Checked
{
    text-decoration-line: line-through;
}

.copy {
    display: none;
}

#tdform {
    min-width: 300px;
    max-width: 800px;
}
